/* Base Styles -------------------- */


html {
  font-size: 10px;
}
body {
  color: $main-gray;
  font-size: 1.6rem;
  font-weight: normal;
  font-family: 'Segoe', sans-serif;
  text-rendering: optimizeLegibility;
}

.container {
  max-width: 1400px;
}

section {
  padding: 5rem 0;
}

a {
  color: #6AA0F1;
  transition: 0.3s
}
a:hover {
  color: #6AA0F1;
  text-decoration: none;
}


h1 {
  font-weight: 600;
  font-size: 3.6rem;
  @include media-breakpoint-down(sm) {
    font-size: 2.4rem;
  }
}
h2 {
  font-weight: bold;
  font-size: 2.5rem;
  @include media-breakpoint-down(sm) {
    font-size: 2.4rem;
  }
}
h3 {
  font-size: 1.8rem;
  font-weight: bold;
  @include media-breakpoint-down(sm) {
    font-size: 2rem;
  }
}

.clr-white {
  color: #fff;
}
.clr-blue {
  color: $main-blue;
}
.clr-light-gray {
  color: $light-gray;
}
.clr-dark-gray {
  color: $dark-gray;
}

.fw-light {
  font-weight: 300;
}
.fw-normal {
  font-weight: normal;
}
.fw-semi-bold {
  font-weight: 500;
}
.fw-bold {
  font-weight: bold;
}

.heading-23 {
  font-size: 20px;
  padding-left: 25px;
}

/* Slick Arrow */

.next-arrow, .prev-arrow {
  top: 50%;
  height: 22px;
  width: 22px;
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
  @include media-breakpoint-down(md) {
    height: 16px;
    width: 16px;
  }
  @include media-breakpoint-down(xs) {
    display: none !important;
  }
}
.next-arrow {
  right: -20px;
}
.prev-arrow {
  left: -20px;
  transform: translateY(-50%) rotate(180deg);
}

/* Range slider */

.slider.slider-horizontal {
  height: 0;
}

.slider-selection {
  box-shadow: none !important;
  background: $main-blue !important;
}

.slider.slider-horizontal .slider-track {
  height: 5px;
  box-shadow: none;
  background: #C0C0C0;
}

.slider-handle {
  top: -11px;
  width: 18px;
  height: 18px;
  background: $main-blue;
  box-shadow: none;
}

/* Dots */
.slick-dotted.slick-slider
{
  margin-bottom: 30px;
}

.slick-dots
{
  position: absolute;
  bottom: -25px;
  left: 0;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li
{
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button
{
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
  opacity: 1;
}
.slick-dots li button:before
{
  font-family: 'slick';
  font-size: 16px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 8px;
  height: 8px;

  content: '■';

  text-align: center;

  opacity: .75;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include media-breakpoint-down(sm) {
    content: '•';
    color: #003E93;
  }
}
.slick-dots li.slick-active button:before
{
  color: #FF9600;
  @include media-breakpoint-down(sm) {
    color: #003E93;
  }
}


/* BUTTONS */

.btn {
  transition: 0.1s;
  max-height: 4rem;
  font-size: 1.5rem;
  border-radius: 3px;
  padding: 0.7rem 1.4rem 0.9rem;
}

.btn-blue {
  color: #fff;
  background: $main-blue;
  border: 1px solid $main-blue;

  &.active {
    color: #fff;
  }

  &:hover {
    color: #fff;
  }
}

.btn-blue-transparent {
  color: $main-blue;
  background: transparent;
  border: 1px solid $main-blue;

  &.active, &:hover {
    color: #fff;
    background: $main-blue;

    i {
      border: solid #fff;
      border-width: 0 1px 1px 0;
      transition: 0.1s;
    }
  }
}

.btn-gray-transparent {
  background: transparent;
  border: 1px solid #CCCCCC;
}

input, textarea, select {
  width: 100%;
  height: 3.5rem;
  padding: 0 1.5rem;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  border-radius: 0;
  color: #AAA8A8;
  border: 1px solid #AAA8A8;

  @include media-breakpoint-down(xs) {
    height: 35px;
    font-size: 12px;
    margin-bottom: 15px;
  }
}

select {
  appearance: none;
  padding-right: 3rem;
  background-repeat: no-repeat;
  background: url('../img/select-btn-arrow.png') no-repeat right center;
  background-size: auto 100%;
}


textarea {
  height: 70px;
  padding: 10px 15px;
  margin-bottom: 20px;

  @include media-breakpoint-down(xs) {
    margin-bottom: 5px;
  }
}

.slick-slide {
  outline: none !important;

  a {
    outline: none !important;    
  }
}

/* Icons */

i {
  border: solid $main-blue;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;

  &.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}


/* Font Sizes */

.fs-16 {
  font-size: 14px;
}
.fs-21 {
  font-size: 17px;
}
.fs-22 {
  font-size: 18px;
}
.fs-23 {
  font-size: 20px;
}


@include media-breakpoint-down(xs) {
  .fs-16 {
    font-size: 12px;
  }
  .fs-21{
    font-size: 12px;
  }
  .fs-22 {
    font-size: 13px;
  }
  .fs-23 {
    font-size: 13px;
  }

  .white-popup-block {
    padding: 25px 15px;
  }
}


//Helvetica - Regular (400)
@font-face {
  font-family: 'Segoe';
  src: url($path-fonts + '/Segoe_UI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//Helvetica - SemiBold (500)
@font-face {
  font-family: 'Segoe';
  src: url($path-fonts + '/Segoe_UI_SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

//Helvetica - Bold (700)
@font-face {
  font-family: 'Segoe';
  src: url($path-fonts + '/Segoe_UI_Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}