//Custom variables

// Descriptive color variables

// Functional color variables

// Font stacks

// Asset paths
$path-image   :   '../img';
$path-fonts     :  '../fonts';

$black: #000;
$main-blue: #6AA0F1;
$light-gray: #F6F6F6;
$main-gray: #343434;
$dark-gray: #707070;